In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/전처리데이터/성동구 버스 도로폭.csv', encoding='cp949')

In [3]:
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 수,버스 노선 리스트,평균 배차 간격,최대 배차 간격,도로명,도로폭
0,103000001,4001,답십리역사거리,37.565426,127.054368,6,"['9403', '370', '303', 'N30', '721', '130']",13.67,40,천호대로,폭8-10m
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,9,"['9403', '3216', '2221', '370', '3220', '303',...",13.89,40,천호대로,폭8-10m
2,103000003,4003,장한평역,37.561131,127.066098,10,"['9403', '2416', '3216', '2221', '370', '3220'...",14.00,40,천호대로,폭8-10m
3,103000004,4101,상왕십리역,37.564279,127.029260,5,"['2012', 'N62', '2014', '2015', '463']",12.80,24,왕십리로,폭12-15m
4,103000005,4102,상왕십리역,37.564609,127.028642,11,"['302', '2013', '2012', 'N62', '2014', '463', ...",12.18,24,왕십리로,폭12-15m
...,...,...,...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,1,['성동03-2'],14.00,14,왕십리로,6m미만
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,1,['성동03-2'],14.00,14,왕십리로,6m미만
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,1,['성동03-2'],14.00,14,왕십리로,6m미만
430,103900283,4914,한양대학교정문,37.557771,127.042058,1,['성동03-2'],14.00,14,왕십리로,6m미만
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,4,"['145', '2112', '2015', '1227']",11.25,14,서울시립대로,폭8-10m

In [4]:
df['도로폭_숫자'] = df['도로폭'].map({'6m미만':'1',
                             '폭6-8m':'2',
                             '폭8-10m':'3',
                             '폭10-12m':'4',
                             '폭12-15m':'5',
                             '폭15-20m':'6',
                             '폭20-25m':'7',
                             '폭25-30m':'8',
                             '폭30-35m':'9',
                             '폭35-40m':'10',
                             '폭40-50m':'11',
                             '폭50-70m':'12',
                             '폭70m이상':'13'
                             },
                             na_action=None)

In [5]:
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 수,버스 노선 리스트,평균 배차 간격,최대 배차 간격,도로명,도로폭,도로폭_숫자
0,103000001,4001,답십리역사거리,37.565426,127.054368,6,"['9403', '370', '303', 'N30', '721', '130']",13.67,40,천호대로,폭8-10m,3
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,9,"['9403', '3216', '2221', '370', '3220', '303',...",13.89,40,천호대로,폭8-10m,3
2,103000003,4003,장한평역,37.561131,127.066098,10,"['9403', '2416', '3216', '2221', '370', '3220'...",14.00,40,천호대로,폭8-10m,3
3,103000004,4101,상왕십리역,37.564279,127.029260,5,"['2012', 'N62', '2014', '2015', '463']",12.80,24,왕십리로,폭12-15m,5
4,103000005,4102,상왕십리역,37.564609,127.028642,11,"['302', '2013', '2012', 'N62', '2014', '463', ...",12.18,24,왕십리로,폭12-15m,5
...,...,...,...,...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,1,['성동03-2'],14.00,14,왕십리로,6m미만,1
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,1,['성동03-2'],14.00,14,왕십리로,6m미만,1
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,1,['성동03-2'],14.00,14,왕십리로,6m미만,1
430,103900283,4914,한양대학교정문,37.557771,127.042058,1,['성동03-2'],14.00,14,왕십리로,6m미만,1
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,4,"['145', '2112', '2015', '1227']",11.25,14,서울시립대로,폭8-10m,3

In [6]:
df.to_csv('../data/전처리데이터/성동구 버스 진짜 최종.csv', encoding = 'cp949', index=None)