# 버스 노선 리스트, 버스 수, 버스 평균/최대 배차 간격

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/전처리데이터/성동구 버스 결합_수정.csv', encoding='cp949')

In [3]:
df

,Unnamed: 0,NODE_ID,ARS-ID,정류소명,위도,경도,버스 노선 리스트,버스 수
0,0,103000001,4001,답십리역사거리,37.565426,127.054368,"9403, 370, 303, N30, 721, 130",6
1,1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,"9403, 3216, 2221, 370, 3220, 303, N30, 721, 130",9
2,2,103000003,4003,장한평역,37.561131,127.066098,"9403, 2416, 3216, 2221, 370, 3220, 303, N30, 7...",10
3,3,103000004,4101,상왕십리역,37.564279,127.029260,"2012, N62, 2014, 2015, 463",5
4,4,103000005,4102,상왕십리역,37.564609,127.028642,"302, 2013, 2012, N62, 2014, 463, 147, 6211, 20...",11
...,...,...,...,...,...,...,...,...
427,427,103900293,4911,한양대학교정문,37.557954,127.041932,성동03-2,1
428,428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,성동03-2,1
429,429,103900292,4913,한양대학교동문회관,37.558833,127.041823,성동03-2,1
430,430,103900283,4914,한양대학교정문,37.557771,127.042058,성동03-2,1
431,431,103000508,6507,청계한신휴플러스,37.571710,127.044830,"145, 2112, 2015, 1227",4

In [4]:
df.drop(columns=["Unnamed: 0"],inplace=True)
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 노선 리스트,버스 수
0,103000001,4001,답십리역사거리,37.565426,127.054368,"9403, 370, 303, N30, 721, 130",6
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,"9403, 3216, 2221, 370, 3220, 303, N30, 721, 130",9
2,103000003,4003,장한평역,37.561131,127.066098,"9403, 2416, 3216, 2221, 370, 3220, 303, N30, 7...",10
3,103000004,4101,상왕십리역,37.564279,127.029260,"2012, N62, 2014, 2015, 463",5
4,103000005,4102,상왕십리역,37.564609,127.028642,"302, 2013, 2012, N62, 2014, 463, 147, 6211, 20...",11
...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,성동03-2,1
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,성동03-2,1
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,성동03-2,1
430,103900283,4914,한양대학교정문,37.557771,127.042058,성동03-2,1
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,"145, 2112, 2015, 1227",4

In [5]:
df['버스 노선 리스트2'] = df['버스 노선 리스트'].str.split(', ').to_list()
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 노선 리스트,버스 수,버스 노선 리스트2
0,103000001,4001,답십리역사거리,37.565426,127.054368,"9403, 370, 303, N30, 721, 130",6,"[9403, 370, 303, N30, 721, 130]"
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,"9403, 3216, 2221, 370, 3220, 303, N30, 721, 130",9,"[9403, 3216, 2221, 370, 3220, 303, N30, 721, 130]"
2,103000003,4003,장한평역,37.561131,127.066098,"9403, 2416, 3216, 2221, 370, 3220, 303, N30, 7...",10,"[9403, 2416, 3216, 2221, 370, 3220, 303, N30, ..."
3,103000004,4101,상왕십리역,37.564279,127.029260,"2012, N62, 2014, 2015, 463",5,"[2012, N62, 2014, 2015, 463]"
4,103000005,4102,상왕십리역,37.564609,127.028642,"302, 2013, 2012, N62, 2014, 463, 147, 6211, 20...",11,"[302, 2013, 2012, N62, 2014, 463, 147, 6211, 2..."
...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,성동03-2,1,[성동03-2]
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,성동03-2,1,[성동03-2]
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,성동03-2,1,[성동03-2]
430,103900283,4914,한양대학교정문,37.557771,127.042058,성동03-2,1,[성동03-2]
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,"145, 2112, 2015, 1227",4,"[145, 2112, 2015, 1227]"

In [6]:
for i in df['버스 노선 리스트2']:
    print(i)
#     for j in i:
#         print(j)

['9403', '370', '303', 'N30', '721', '130']
['9403', '3216', '2221', '370', '3220', '303', 'N30', '721', '130']
['9403', '2416', '3216', '2221', '370', '3220', '303', 'N30', '721', '130']
['2012', 'N62', '2014', '2015', '463']
['302', '2013', '2012', 'N62', '2014', '463', '147', '6211', '2015', '1017', '202']
['302', '2013', '2012', 'N62', '2014', '463', '147', '6211', '2015', '1017', '202']
['421', '6211', '1017', '302']
['241', '2012', '2014', '147', '202', '2015', '463']
['147', '202', '1017', '241']
['241', '2013', '147', '202', '1017']
['6211', '1017', '302']
['302', '2013', '2012', 'N62', '2014', '2015', '463']
['302', '2013', '2012', 'N62', '2014', '2015', '463']
['421', '148', '145', '2222', '110A', '141', '2015']
['147', '202', '241']
['302', '2013', '147', '6211', '1017', '202']
['121', '2013']
['121', '2013']
['121', '2013']
['421', '110B', '148', '145', '2222', '141', '2015']
['421', '148', '145', '2222', '110A', '141', '2015']
['421', '110B', '148', '145', '2222', '141', '2015']
['421', '148', '145', '2222', '110A', '141', '2015']
['121', '2013']
['121', '2013']
['121', '2013']
['121', '2013']
['121', '4211', '2013']
['4211', '2013']
['2016', '302', '2222', '2012', 'N62', '2014', '121']
['2016', '302', '2222', '2012', 'N62', '2014', '121']
['421', '2016', '110B', '148', '145', '4211', '141', '463']
['421', '2016', '148', '241', '145', '110A', '4211', '141', '463']
['2016', '302', '2013', '2222', '2012', 'N62', '2014']
['302', '2013', '2222', '2012', 'N62', '2014']
['2016', '463', '4211']
['2016', '302', '2013', '2222', '2012', 'N62', '2014']
['2016', '302', '2013', '2222', '2012', 'N62', '2014']
['421', '2016', '110B', '241', '4211']
['421', '2016', '241', '110A', '4211']
['421', '2016', '110B', '148', '241', '145', '4211', '141', '463']
['421', '2016', '110B', '241', '4211']
['421', '2016', '241', '110A', '4211']
['2233', '7212', '성동05']
['2233', '7212']
['2233', '7212', '성동05']
['2233', '7212']
['2233', '7212']
['2233', '7212', '성동01']
['2233', '7212', '성동01']
['2233', '7212', '성동01']
['2233', '7212', '성동01']
['421', '2016', '110B', '7212', '241', '2233', '4211']
['421', '2016', '7212', '241', '2233', '110A', '4211']
['147', '301']
['147', '301']
['421', '2016', '110B', '7212', '241', '2233', '4211']
['421', '2016', '7212', '241', '2233', '110A', '4211']
['421', '2016', '110B', '241', '4211']
['421', '2016', '241', '110A', '4211']
['2016', '110B', '7212', '241', '2233', '4211']
['2016', '7212', '241', '2233', '110A', '4211']
['2016', '110B', '241', '7212', '2233']
['421']
['421']
['421']
['421']
['421']
['241', '2016', '110B', '성동09']
['2016', '241', '성동09', '110A']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '121', '2224']
['2413', '2014', '121', '2224']
['2413', '2014', '121', '2224']
['2413', '2014', '121', '2224']
['2413', '성동13', '2224', '2412']
['2413', '성동13', '2224', '2412']
['2412']
['2412']
['2016', '2014', '121', 'N62']
['2016', '2014', '121', 'N62']
['302', '2222', '2012']
['302', '2222', '2012']
['3217', '240', '2416', '2413', '4212', '146', '242', 'N852', 'N61']
['3217', '2416', '4212', '146', '242', 'N852', 'N61']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2014']
['2014']
['2014']
['2014']
['3217', '성동10', '146', '242']
['3217', '146', '242']
['2416', '4212', '146', '242', 'N852', 'N61']
['302', '2222', '2012']
['302', '2222', '2012']
['302', '2222', '2012']
['302', '2222', '2012']
['3220', '146', '242']
['3220', '146', '242']
['3220', '146', '242']
['145', '2112', '2015']
['145']
['145']
['148', '145', '141', '463']
['148', '145', '121', '141', '463']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['2413', '2016', '2224', 'N62']
['2413', '2016', '2224', 'N62']
['2413', '2016', '2224', 'N62']
['2413', '2016', '2224', 'N62']
['2224', '2016', '성동10', 'N62']
['2224']
['2413', '2224']
['2413', '2224']
['2413', '2224']
['2413', '2224']
['2413', '2224']
['4211']
['6211', '1017', '302']
['2016', 'N62']
['302', '2222', '2012']
['302', '2222', '2012']
['2016', 'N62']
['2016', 'N62']
['4211']
['4211']
['2013']
['성동13', '121']
['121']
['121']
['121', '2013']
['121', '2013']
['302', '2222', '2012']
['2233', '7212', '4211']
['121', '2013']
['148', '241', '145', '4211', '141', '463']
['241']
['성동03-2', '241']
['성동03-2', '241', '성동01']
['241']
['241']
['성동03-2', '241', '성동03-1']
['241']
['241']
['2233', '7212']
['2413', '2014', '2412', '2224']
['2014']
['241']
['241', '성동01']
['2014']
['302', '2222', '2012']
['421']
['성동08', '성동03-1', '4211']
['성동02', '성동08', '4211']
['4211']
['241']
['4211']
['4211']
['성동10']
['성동09']
['성동07']
['성동06']
['성동03-1']
['성동12', '성동09', '성동01']
['성동07']
['성동03-1']
['성동02', '성동14', '성동08', '성동03-2', '성동03-1']
['성동01']
['성동10']
['성동07']
['성동05']
['성동03-1']
['성동02', '성동08']
['성동01']
['성동09']
['성동08']
['성동07', '성동08']
['성동05']
['성동03-2', '성동02', '성동03-1']
['성동02']
['성동10']
['성동09']
['성동08']
['성동05']
['성동03-2', '성동03-1']
['성동02']
['성동10']
['성동08']
['성동05']
['성동02']
['성동01']
['성동10']
['성동12', '성동09']
['성동08']
['성동03-2', '성동03-1']
['성동02']
['성동01']
['성동10']
['성동12', '성동09']
['성동08']
['성동06']
['성동05']
['성동03-2', '성동03-1']
['성동02']
['성동01']
['성동08']
['성동05']
['성동02']
['성동12', '성동09']
['성동08']
['성동07']
['성동06']
['성동05']
['성동02']
['성동10']
['성동12', '성동09']
['성동07']
['성동05']
['성동03-1']
['성동02']
['성동10']
['성동12', '성동09']
['성동02', '성동08']
['성동02']
['성동09']
['성동02', '성동08']
['성동03-1']
['성동02']
['성동09']
['성동03-1']
['성동03-2', '성동02', '성동03-1']
['성동08']
['성동03-1']
['성동08']
['성동05']
['성동08', '성동03-1']
['성동03-1', '성동01']
['성동10']
['성동08']
['성동05']
['성동08', '성동03-1']
['성동03-1']
['성동03-2', '성동01']
['성동10']
['성동05']
['성동08', '성동03-1']
['성동03-1']
['성동01']
['성동10']
['성동05']
['성동08', '성동03-1']
['성동01']
['성동10']
['성동08', '성동03-1']
['성동01']
['성동05']
['성동01']
['성동03-2', '성동03-1']
['성동02']
['성동05']
['성동03-2', '성동03-1']
['성동02']
['성동05']
['성동02']
['성동01']
['성동03-2', '241', '성동03-1']
['성동02']
['성동01']
['성동02', '성동08']
['성동02']
['성동13', '성동01']
['성동08']
['성동02']
['성동05']
['성동08']
['성동02']
['성동08']
['성동02']
['성동08']
['성동02']
['성동08']
['성동08']
['성동08']
['성동03-2', '성동02', '성동08', '성동03-1']
['성동06']
['성동09']
['성동06']
['성동06']
['성동09']
['성동09']
['성동06']
['성동06']
['성동07', '성동08', '성동05']
['성동06']
['성동08']
['성동07', '성동05']
['성동08']
['성동06']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동08']
['성동08']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동03-1']
['성동03-1']
['성동03-1']
['성동03-1']
['성동03-1']
['성동03-1']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동12']
['성동03-1']
['성동08']
['성동03-2']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동12']
['성동12']
['성동02']
['성동02']
['성동12', '성동09']
['성동03-1']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['145', '2112', '2015', '1227']

In [7]:
# 리스트에 추가
bus_=[]
for i in df['버스 노선 리스트2']:
    bus_.append(i)
bus_

[['9403', '370', '303', 'N30', '721', '130'],
 ['9403', '3216', '2221', '370', '3220', '303', 'N30', '721', '130'],
 ['9403', '2416', '3216', '2221', '370', '3220', '303', 'N30', '721', '130'],
 ['2012', 'N62', '2014', '2015', '463'],
 ['302',
  '2013',
  '2012',
  'N62',
  '2014',
  '463',
  '147',
  '6211',
  '2015',
  '1017',
  '202'],
 ['302',
  '2013',
  '2012',
  'N62',
  '2014',
  '463',
  '147',
  '6211',
  '2015',
  '1017',
  '202'],
 ['421', '6211', '1017', '302'],
 ['241', '2012', '2014', '147', '202', '2015', '463'],
 ['147', '202', '1017', '241'],
 ['241', '2013', '147', '202', '1017'],
 ['6211', '1017', '302'],
 ['302', '2013', '2012', 'N62', '2014', '2015', '463'],
 ['302', '2013', '2012', 'N62', '2014', '2015', '463'],
 ['421', '148', '145', '2222', '110A', '141', '2015'],
 ['147', '202', '241'],
 ['302', '2013', '147', '6211', '1017', '202'],
 ['121', '2013'],
 ['121', '2013'],
 ['121', '2013'],
 ['421', '110B', '148', '145', '2222', '141', '2015'],
 ['421', '148', '145', '2222', '110A', '141', '2015'],
 ['421', '110B', '148', '145', '2222', '141', '2015'],
 ['421', '148', '145', '2222', '110A', '141', '2015'],
 ['121', '2013'],
 ['121', '2013'],
 ['121', '2013'],
 ['121', '2013'],
 ['121', '4211', '2013'],
 ['4211', '2013'],
 ['2016', '302', '2222', '2012', 'N62', '2014', '121'],
 ['2016', '302', '2222', '2012', 'N62', '2014', '121'],
 ['421', '2016', '110B', '148', '145', '4211', '141', '463'],
 ['421', '2016', '148', '241', '145', '110A', '4211', '141', '463'],
 ['2016', '302', '2013', '2222', '2012', 'N62', '2014'],
 ['302', '2013', '2222', '2012', 'N62', '2014'],
 ['2016', '463', '4211'],
 ['2016', '302', '2013', '2222', '2012', 'N62', '2014'],
 ['2016', '302', '2013', '2222', '2012', 'N62', '2014'],
 ['421', '2016', '110B', '241', '4211'],
 ['421', '2016', '241', '110A', '4211'],
 ['421', '2016', '110B', '148', '241', '145', '4211', '141', '463'],
 ['421', '2016', '110B', '241', '4211'],
 ['421', '2016', '241', '110A', '4211'],
 ['2233', '7212', '성동05'],
 ['2233', '7212'],
 ['2233', '7212', '성동05'],
 ['2233', '7212'],
 ['2233', '7212'],
 ['2233', '7212', '성동01'],
 ['2233', '7212', '성동01'],
 ['2233', '7212', '성동01'],
 ['2233', '7212', '성동01'],
 ['421', '2016', '110B', '7212', '241', '2233', '4211'],
 ['421', '2016', '7212', '241', '2233', '110A', '4211'],
 ['147', '301'],
 ['147', '301'],
 ['421', '2016', '110B', '7212', '241', '2233', '4211'],
 ['421', '2016', '7212', '241', '2233', '110A', '4211'],
 ['421', '2016', '110B', '241', '4211'],
 ['421', '2016', '241', '110A', '4211'],
 ['2016', '110B', '7212', '241', '2233', '4211'],
 ['2016', '7212', '241', '2233', '110A', '4211'],
 ['2016', '110B', '241', '7212', '2233'],
 ['421'],
 ['421'],
 ['421'],
 ['421'],
 ['421'],
 ['241', '2016', '110B', '성동09'],
 ['2016', '241', '성동09', '110A'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '121', '2224'],
 ['2413', '2014', '121', '2224'],
 ['2413', '2014', '121', '2224'],
 ['2413', '2014', '121', '2224'],
 ['2413', '성동13', '2224', '2412'],
 ['2413', '성동13', '2224', '2412'],
 ['2412'],
 ['2412'],
 ['2016', '2014', '121', 'N62'],
 ['2016', '2014', '121', 'N62'],
 ['302', '2222', '2012'],
 ['302', '2222', '2012'],
 ['3217', '240', '2416', '2413', '4212', '146', '242', 'N852', 'N61'],
 ['3217', '2416', '4212', '146', '242', 'N852', 'N61'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2224', '2412'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2413', '2014', '2412', '2224'],
 ['2014'],
 ['2014'],
 ['2014'],
 ['2014'],
 ['3217', '성동10', '146', '242'],
 ['3217', '146', '242'],
 ['2416', '4212', '146', '242', 'N852', 'N61'],
 ['302', '2222', '2012'],
 ['302', '2222', '2012'],
 ['302', '2222', '2012'],
 ['302', '2222', '2012'],
 ['3220', '146', '242'],
 ['3220', '146', '242'],
 ['3220', '146', '242'],
 ['145', '2112', '2015'],
 ['145'],
 ['145'],
 ['148', '145', '141', '463'],
 ['148', '145', '121', '141', '463'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['4211'],
 ['2413', '2016', '2224', 'N62'],
 ['2413', '2016', '2224', 'N62'],
 ['2413', '2016', '2224', 'N62'],
 ['2413', '2016', '2224', 'N62'],
 ['2224', '2016', '성동10', 'N62'],
 ['2224'],
 ['2413', '2224'],
 ['2413', '2224'],
 ['2413', '2224'],
 ['2413', '2224'],
 ['2413', '2224'],
 ['4211'],
 ['6211', '1017', '302'],
 ['2016', 'N62'],
 ['302', '2222', '2012'],
 ['302', '2222', '2012'],
 ['2016', 'N62'],
 ['2016', 'N62'],
 ['4211'],
 ['4211'],
 ['2013'],
 ['성동13', '121'],
 ['121'],
 ['121'],
 ['121', '2013'],
 ['121', '2013'],
 ['302', '2222', '2012'],
 ['2233', '7212', '4211'],
 ['121', '2013'],
 ['148', '241', '145', '4211', '141', '463'],
 ['241'],
 ['성동03-2', '241'],
 ['성동03-2', '241', '성동01'],
 ['241'],
 ['241'],
 ['성동03-2', '241', '성동03-1'],
 ['241'],
 ['241'],
 ['2233', '7212'],
 ['2413', '2014', '2412', '2224'],
 ['2014'],
 ['241'],
 ['241', '성동01'],
 ['2014'],
 ['302', '2222', '2012'],
 ['421'],
 ['성동08', '성동03-1', '4211'],
 ['성동02', '성동08', '4211'],
 ['4211'],
 ['241'],
 ['4211'],
 ['4211'],
 ['성동10'],
 ['성동09'],
 ['성동07'],
 ['성동06'],
 ['성동03-1'],
 ['성동12', '성동09', '성동01'],
 ['성동07'],
 ['성동03-1'],
 ['성동02', '성동14', '성동08', '성동03-2', '성동03-1'],
 ['성동01'],
 ['성동10'],
 ['성동07'],
 ['성동05'],
 ['성동03-1'],
 ['성동02', '성동08'],
 ['성동01'],
 ['성동09'],
 ['성동08'],
 ['성동07', '성동08'],
 ['성동05'],
 ['성동03-2', '성동02', '성동03-1'],
 ['성동02'],
 ['성동10'],
 ['성동09'],
 ['성동08'],
 ['성동05'],
 ['성동03-2', '성동03-1'],
 ['성동02'],
 ['성동10'],
 ['성동08'],
 ['성동05'],
 ['성동02'],
 ['성동01'],
 ['성동10'],
 ['성동12', '성동09'],
 ['성동08'],
 ['성동03-2', '성동03-1'],
 ['성동02'],
 ['성동01'],
 ['성동10'],
 ['성동12', '성동09'],
 ['성동08'],
 ['성동06'],
 ['성동05'],
 ['성동03-2', '성동03-1'],
 ['성동02'],
 ['성동01'],
 ['성동08'],
 ['성동05'],
 ['성동02'],
 ['성동12', '성동09'],
 ['성동08'],
 ['성동07'],
 ['성동06'],
 ['성동05'],
 ['성동02'],
 ['성동10'],
 ['성동12', '성동09'],
 ['성동07'],
 ['성동05'],
 ['성동03-1'],
 ['성동02'],
 ['성동10'],
 ['성동12', '성동09'],
 ['성동02', '성동08'],
 ['성동02'],
 ['성동09'],
 ['성동02', '성동08'],
 ['성동03-1'],
 ['성동02'],
 ['성동09'],
 ['성동03-1'],
 ['성동03-2', '성동02', '성동03-1'],
 ['성동08'],
 ['성동03-1'],
 ['성동08'],
 ['성동05'],
 ['성동08', '성동03-1'],
 ['성동03-1', '성동01'],
 ['성동10'],
 ['성동08'],
 ['성동05'],
 ['성동08', '성동03-1'],
 ['성동03-1'],
 ['성동03-2', '성동01'],
 ['성동10'],
 ['성동05'],
 ['성동08', '성동03-1'],
 ['성동03-1'],
 ['성동01'],
 ['성동10'],
 ['성동05'],
 ['성동08', '성동03-1'],
 ['성동01'],
 ['성동10'],
 ['성동08', '성동03-1'],
 ['성동01'],
 ['성동05'],
 ['성동01'],
 ['성동03-2', '성동03-1'],
 ['성동02'],
 ['성동05'],
 ['성동03-2', '성동03-1'],
 ['성동02'],
 ['성동05'],
 ['성동02'],
 ['성동01'],
 ['성동03-2', '241', '성동03-1'],
 ['성동02'],
 ['성동01'],
 ['성동02', '성동08'],
 ['성동02'],
 ['성동13', '성동01'],
 ['성동08'],
 ['성동02'],
 ['성동05'],
 ['성동08'],
 ['성동02'],
 ['성동08'],
 ['성동02'],
 ['성동08'],
 ['성동02'],
 ['성동08'],
 ['성동08'],
 ['성동08'],
 ['성동03-2', '성동02', '성동08', '성동03-1'],
 ['성동06'],
 ['성동09'],
 ['성동06'],
 ['성동06'],
 ['성동09'],
 ['성동09'],
 ['성동06'],
 ['성동06'],
 ['성동07', '성동08', '성동05'],
 ['성동06'],
 ['성동08'],
 ['성동07', '성동05'],
 ['성동08'],
 ['성동06'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동08'],
 ['성동08'],
 ['성동12'],
 ['성동12'],
 ['성동12'],
 ['성동12'],
 ['성동12'],
 ['성동12'],
 ['성동12'],
 ['성동12'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동03-1'],
 ['성동03-1'],
 ['성동03-1'],
 ['성동03-1'],
 ['성동03-1'],
 ['성동03-1'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동02'],
 ['성동12'],
 ['성동03-1'],
 ['성동08'],
 ['성동03-2'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동13'],
 ['성동12'],
 ['성동12'],
 ['성동02'],
 ['성동02'],
 ['성동12', '성동09'],
 ['성동03-1'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동14'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['성동03-2'],
 ['145', '2112', '2015', '1227']]

In [8]:
# ## 리스트 내 공백 제거
# bus = []
# for i in a:
#     i = i.strip()
#     bus.append(i)
# bus

In [9]:
# a=[]
# for i in df['버스 노선 리스트2']:
#     for j in i:
#         a.append(j)
# a # 공백 있음

In [10]:
# ## 리스트 내 공백 제거
# bus = []
# for i in a:
#     i = i.strip()
#     bus.append(i)
# bus

**버스 배차 간격 데이터 불러오기**

In [11]:
term = pd.read_csv('../data/전처리데이터/성동구 버스 배차간격.csv', encoding='cp949')
term

      버스번호  배차간격
0     4211    13
1   성동03-1    10
2     성동08    10
3     성동02     9
4      241    10
5     성동10     8
6     성동07    23
7     성동14    12
8   성동03-2    14
9     성동01     7
10    성동05     7
11    성동06    20
12     145     9
13    110B     8
14     148     9
15     421    10
16     141    11
17    2015     8
18    2222    13
19    성동13    22
20    성동12    12
21    성동09     8
22    1227    14
23     130     7
24     303     8
25     N30    40
26     370     6
27    9403    13
28     721     8
29    3216    13
30    3220    17
31    2221    13
32    2416    15
33     463    10
34    2014    10
35     N62    24
36     302    15
37    6211    11
38     202     8
39     147     9
40    1017    14
41    2012    12
42    2013    13
43     N32    40
44    110A     8
45     121     7
46    2016    11
47    2233    15
48    7212    11
49     301     8
50    2224    13
51    2413    13
52    2412    13
53     242    14
54    3217     9
55     240    11
56    4212     9
57     146     8
58     N61    25
59    2112    14

In [12]:
df.style.hide_index()

C:\Users\user\AppData\Local\Temp\ipykernel_2412\496160328.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  df.style.hide_index()

In [13]:
# 딕셔너리 만들기
dic = dict(term.values.tolist())
dic

{'4211': 13,
 '성동03-1': 10,
 '성동08': 10,
 '성동02': 9,
 '241': 10,
 '성동10': 8,
 '성동07': 23,
 '성동14': 12,
 '성동03-2': 14,
 '성동01': 7,
 '성동05': 7,
 '성동06': 20,
 '145': 9,
 '110B': 8,
 '148': 9,
 '421': 10,
 '141': 11,
 '2015': 8,
 '2222': 13,
 '성동13': 22,
 '성동12': 12,
 '성동09': 8,
 '1227': 14,
 '130': 7,
 '303': 8,
 'N30': 40,
 '370': 6,
 '9403': 13,
 '721': 8,
 '3216': 13,
 '3220': 17,
 '2221': 13,
 '2416': 15,
 '463': 10,
 '2014': 10,
 'N62': 24,
 '302': 15,
 '6211': 11,
 '202': 8,
 '147': 9,
 '1017': 14,
 '2012': 12,
 '2013': 13,
 'N32': 40,
 '110A': 8,
 '121': 7,
 '2016': 11,
 '2233': 15,
 '7212': 11,
 '301': 8,
 '2224': 13,
 '2413': 13,
 '2412': 13,
 '242': 14,
 '3217': 9,
 '240': 11,
 '4212': 9,
 '146': 8,
 'N61': 25,
 '2112': 14}

In [14]:
for i in df['버스 노선 리스트2']:
    print(i)

['9403', '370', '303', 'N30', '721', '130']
['9403', '3216', '2221', '370', '3220', '303', 'N30', '721', '130']
['9403', '2416', '3216', '2221', '370', '3220', '303', 'N30', '721', '130']
['2012', 'N62', '2014', '2015', '463']
['302', '2013', '2012', 'N62', '2014', '463', '147', '6211', '2015', '1017', '202']
['302', '2013', '2012', 'N62', '2014', '463', '147', '6211', '2015', '1017', '202']
['421', '6211', '1017', '302']
['241', '2012', '2014', '147', '202', '2015', '463']
['147', '202', '1017', '241']
['241', '2013', '147', '202', '1017']
['6211', '1017', '302']
['302', '2013', '2012', 'N62', '2014', '2015', '463']
['302', '2013', '2012', 'N62', '2014', '2015', '463']
['421', '148', '145', '2222', '110A', '141', '2015']
['147', '202', '241']
['302', '2013', '147', '6211', '1017', '202']
['121', '2013']
['121', '2013']
['121', '2013']
['421', '110B', '148', '145', '2222', '141', '2015']
['421', '148', '145', '2222', '110A', '141', '2015']
['421', '110B', '148', '145', '2222', '141', '2015']
['421', '148', '145', '2222', '110A', '141', '2015']
['121', '2013']
['121', '2013']
['121', '2013']
['121', '2013']
['121', '4211', '2013']
['4211', '2013']
['2016', '302', '2222', '2012', 'N62', '2014', '121']
['2016', '302', '2222', '2012', 'N62', '2014', '121']
['421', '2016', '110B', '148', '145', '4211', '141', '463']
['421', '2016', '148', '241', '145', '110A', '4211', '141', '463']
['2016', '302', '2013', '2222', '2012', 'N62', '2014']
['302', '2013', '2222', '2012', 'N62', '2014']
['2016', '463', '4211']
['2016', '302', '2013', '2222', '2012', 'N62', '2014']
['2016', '302', '2013', '2222', '2012', 'N62', '2014']
['421', '2016', '110B', '241', '4211']
['421', '2016', '241', '110A', '4211']
['421', '2016', '110B', '148', '241', '145', '4211', '141', '463']
['421', '2016', '110B', '241', '4211']
['421', '2016', '241', '110A', '4211']
['2233', '7212', '성동05']
['2233', '7212']
['2233', '7212', '성동05']
['2233', '7212']
['2233', '7212']
['2233', '7212', '성동01']
['2233', '7212', '성동01']
['2233', '7212', '성동01']
['2233', '7212', '성동01']
['421', '2016', '110B', '7212', '241', '2233', '4211']
['421', '2016', '7212', '241', '2233', '110A', '4211']
['147', '301']
['147', '301']
['421', '2016', '110B', '7212', '241', '2233', '4211']
['421', '2016', '7212', '241', '2233', '110A', '4211']
['421', '2016', '110B', '241', '4211']
['421', '2016', '241', '110A', '4211']
['2016', '110B', '7212', '241', '2233', '4211']
['2016', '7212', '241', '2233', '110A', '4211']
['2016', '110B', '241', '7212', '2233']
['421']
['421']
['421']
['421']
['421']
['241', '2016', '110B', '성동09']
['2016', '241', '성동09', '110A']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '121', '2224']
['2413', '2014', '121', '2224']
['2413', '2014', '121', '2224']
['2413', '2014', '121', '2224']
['2413', '성동13', '2224', '2412']
['2413', '성동13', '2224', '2412']
['2412']
['2412']
['2016', '2014', '121', 'N62']
['2016', '2014', '121', 'N62']
['302', '2222', '2012']
['302', '2222', '2012']
['3217', '240', '2416', '2413', '4212', '146', '242', 'N852', 'N61']
['3217', '2416', '4212', '146', '242', 'N852', 'N61']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2224', '2412']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2413', '2014', '2412', '2224']
['2014']
['2014']
['2014']
['2014']
['3217', '성동10', '146', '242']
['3217', '146', '242']
['2416', '4212', '146', '242', 'N852', 'N61']
['302', '2222', '2012']
['302', '2222', '2012']
['302', '2222', '2012']
['302', '2222', '2012']
['3220', '146', '242']
['3220', '146', '242']
['3220', '146', '242']
['145', '2112', '2015']
['145']
['145']
['148', '145', '141', '463']
['148', '145', '121', '141', '463']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['4211']
['2413', '2016', '2224', 'N62']
['2413', '2016', '2224', 'N62']
['2413', '2016', '2224', 'N62']
['2413', '2016', '2224', 'N62']
['2224', '2016', '성동10', 'N62']
['2224']
['2413', '2224']
['2413', '2224']
['2413', '2224']
['2413', '2224']
['2413', '2224']
['4211']
['6211', '1017', '302']
['2016', 'N62']
['302', '2222', '2012']
['302', '2222', '2012']
['2016', 'N62']
['2016', 'N62']
['4211']
['4211']
['2013']
['성동13', '121']
['121']
['121']
['121', '2013']
['121', '2013']
['302', '2222', '2012']
['2233', '7212', '4211']
['121', '2013']
['148', '241', '145', '4211', '141', '463']
['241']
['성동03-2', '241']
['성동03-2', '241', '성동01']
['241']
['241']
['성동03-2', '241', '성동03-1']
['241']
['241']
['2233', '7212']
['2413', '2014', '2412', '2224']
['2014']
['241']
['241', '성동01']
['2014']
['302', '2222', '2012']
['421']
['성동08', '성동03-1', '4211']
['성동02', '성동08', '4211']
['4211']
['241']
['4211']
['4211']
['성동10']
['성동09']
['성동07']
['성동06']
['성동03-1']
['성동12', '성동09', '성동01']
['성동07']
['성동03-1']
['성동02', '성동14', '성동08', '성동03-2', '성동03-1']
['성동01']
['성동10']
['성동07']
['성동05']
['성동03-1']
['성동02', '성동08']
['성동01']
['성동09']
['성동08']
['성동07', '성동08']
['성동05']
['성동03-2', '성동02', '성동03-1']
['성동02']
['성동10']
['성동09']
['성동08']
['성동05']
['성동03-2', '성동03-1']
['성동02']
['성동10']
['성동08']
['성동05']
['성동02']
['성동01']
['성동10']
['성동12', '성동09']
['성동08']
['성동03-2', '성동03-1']
['성동02']
['성동01']
['성동10']
['성동12', '성동09']
['성동08']
['성동06']
['성동05']
['성동03-2', '성동03-1']
['성동02']
['성동01']
['성동08']
['성동05']
['성동02']
['성동12', '성동09']
['성동08']
['성동07']
['성동06']
['성동05']
['성동02']
['성동10']
['성동12', '성동09']
['성동07']
['성동05']
['성동03-1']
['성동02']
['성동10']
['성동12', '성동09']
['성동02', '성동08']
['성동02']
['성동09']
['성동02', '성동08']
['성동03-1']
['성동02']
['성동09']
['성동03-1']
['성동03-2', '성동02', '성동03-1']
['성동08']
['성동03-1']
['성동08']
['성동05']
['성동08', '성동03-1']
['성동03-1', '성동01']
['성동10']
['성동08']
['성동05']
['성동08', '성동03-1']
['성동03-1']
['성동03-2', '성동01']
['성동10']
['성동05']
['성동08', '성동03-1']
['성동03-1']
['성동01']
['성동10']
['성동05']
['성동08', '성동03-1']
['성동01']
['성동10']
['성동08', '성동03-1']
['성동01']
['성동05']
['성동01']
['성동03-2', '성동03-1']
['성동02']
['성동05']
['성동03-2', '성동03-1']
['성동02']
['성동05']
['성동02']
['성동01']
['성동03-2', '241', '성동03-1']
['성동02']
['성동01']
['성동02', '성동08']
['성동02']
['성동13', '성동01']
['성동08']
['성동02']
['성동05']
['성동08']
['성동02']
['성동08']
['성동02']
['성동08']
['성동02']
['성동08']
['성동08']
['성동08']
['성동03-2', '성동02', '성동08', '성동03-1']
['성동06']
['성동09']
['성동06']
['성동06']
['성동09']
['성동09']
['성동06']
['성동06']
['성동07', '성동08', '성동05']
['성동06']
['성동08']
['성동07', '성동05']
['성동08']
['성동06']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동08']
['성동08']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동12']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동03-1']
['성동03-1']
['성동03-1']
['성동03-1']
['성동03-1']
['성동03-1']
['성동02']
['성동02']
['성동02']
['성동02']
['성동02']
['성동12']
['성동03-1']
['성동08']
['성동03-2']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동13']
['성동12']
['성동12']
['성동02']
['성동02']
['성동12', '성동09']
['성동03-1']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동14']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['성동03-2']
['145', '2112', '2015', '1227']

In [15]:
for i in df['버스 노선 리스트2']:
    for j in i: # j는 버스 번호
        print(j)

9403
370
303
N30
721
130
9403
3216
2221
370
3220
303
N30
721
130
9403
2416
3216
2221
370
3220
303
N30
721
130
2012
N62
2014
2015
463
302
2013
2012
N62
2014
463
147
6211
2015
1017
202
302
2013
2012
N62
2014
463
147
6211
2015
1017
202
421
6211
1017
302
241
2012
2014
147
202
2015
463
147
202
1017
241
241
2013
147
202
1017
6211
1017
302
302
2013
2012
N62
2014
2015
463
302
2013
2012
N62
2014
2015
463
421
148
145
2222
110A
141
2015
147
202
241
302
2013
147
6211
1017
202
121
2013
121
2013
121
2013
421
110B
148
145
2222
141
2015
421
148
145
2222
110A
141
2015
421
110B
148
145
2222
141
2015
421
148
145
2222
110A
141
2015
121
2013
121
2013
121
2013
121
2013
121
4211
2013
4211
2013
2016
302
2222
2012
N62
2014
121
2016
302
2222
2012
N62
2014
121
421
2016
110B
148
145
4211
141
463
421
2016
148
241
145
110A
4211
141
463
2016
302
2013
2222
2012
N62
2014
302
2013
2222
2012
N62
2014
2016
463
4211
2016
302
2013
2222
2012
N62
2014
2016
302
2013
2222
2012
N62
2014
421
2016
110B
241
4211
421
2016
241
110A
4211
421
2016
110B
148
241
145
4211
141
463
421
2016
110B
241
4211
421
2016
241
110A
4211
2233
7212
성동05
2233
7212
2233
7212
성동05
2233
7212
2233
7212
2233
7212
성동01
2233
7212
성동01
2233
7212
성동01
2233
7212
성동01
421
2016
110B
7212
241
2233
4211
421
2016
7212
241
2233
110A
4211
147
301
147
301
421
2016
110B
7212
241
2233
4211
421
2016
7212
241
2233
110A
4211
421
2016
110B
241
4211
421
2016
241
110A
4211
2016
110B
7212
241
2233
4211
2016
7212
241
2233
110A
4211
2016
110B
241
7212
2233
421
421
421
421
421
241
2016
110B
성동09
2016
241
성동09
110A
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
121
2224
2413
2014
121
2224
2413
2014
121
2224
2413
2014
121
2224
2413
성동13
2224
2412
2413
성동13
2224
2412
2412
2412
2016
2014
121
N62
2016
2014
121
N62
302
2222
2012
302
2222
2012
3217
240
2416
2413
4212
146
242
N852
N61
3217
2416
4212
146
242
N852
N61
2413
2224
2412
2413
2224
2412
2413
2224
2412
2413
2224
2412
2413
2224
2412
2413
2224
2412
2413
2224
2412
2413
2224
2412
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
2412
2224
2413
2014
2412
2224
2014
2014
2014
2014
3217
성동10
146
242
3217
146
242
2416
4212
146
242
N852
N61
302
2222
2012
302
2222
2012
302
2222
2012
302
2222
2012
3220
146
242
3220
146
242
3220
146
242
145
2112
2015
145
145
148
145
141
463
148
145
121
141
463
4211
4211
4211
4211
4211
4211
4211
4211
4211
2413
2016
2224
N62
2413
2016
2224
N62
2413
2016
2224
N62
2413
2016
2224
N62
2224
2016
성동10
N62
2224
2413
2224
2413
2224
2413
2224
2413
2224
2413
2224
4211
6211
1017
302
2016
N62
302
2222
2012
302
2222
2012
2016
N62
2016
N62
4211
4211
2013
성동13
121
121
121
121
2013
121
2013
302
2222
2012
2233
7212
4211
121
2013
148
241
145
4211
141
463
241
성동03-2
241
성동03-2
241
성동01
241
241
성동03-2
241
성동03-1
241
241
2233
7212
2413
2014
2412
2224
2014
241
241
성동01
2014
302
2222
2012
421
성동08
성동03-1
4211
성동02
성동08
4211
4211
241
4211
4211
성동10
성동09
성동07
성동06
성동03-1
성동12
성동09
성동01
성동07
성동03-1
성동02
성동14
성동08
성동03-2
성동03-1
성동01
성동10
성동07
성동05
성동03-1
성동02
성동08
성동01
성동09
성동08
성동07
성동08
성동05
성동03-2
성동02
성동03-1
성동02
성동10
성동09
성동08
성동05
성동03-2
성동03-1
성동02
성동10
성동08
성동05
성동02
성동01
성동10
성동12
성동09
성동08
성동03-2
성동03-1
성동02
성동01
성동10
성동12
성동09
성동08
성동06
성동05
성동03-2
성동03-1
성동02
성동01
성동08
성동05
성동02
성동12
성동09
성동08
성동07
성동06
성동05
성동02
성동10
성동12
성동09
성동07
성동05
성동03-1
성동02
성동10
성동12
성동09
성동02
성동08
성동02
성동09
성동02
성동08
성동03-1
성동02
성동09
성동03-1
성동03-2
성동02
성동03-1
성동08
성동03-1
성동08
성동05
성동08
성동03-1
성동03-1
성동01
성동10
성동08
성동05
성동08
성동03-1
성동03-1
성동03-2
성동01
성동10
성동05
성동08
성동03-1
성동03-1
성동01
성동10
성동05
성동08
성동03-1
성동01
성동10
성동08
성동03-1
성동01
성동05
성동01
성동03-2
성동03-1
성동02
성동05
성동03-2
성동03-1
성동02
성동05
성동02
성동01
성동03-2
241
성동03-1
성동02
성동01
성동02
성동08
성동02
성동13
성동01
성동08
성동02
성동05
성동08
성동02
성동08
성동02
성동08
성동02
성동08
성동08
성동08
성동03-2
성동02
성동08
성동03-1
성동06
성동09
성동06
성동06
성동09
성동09
성동06
성동06
성동07
성동08
성동05
성동06
성동08
성동07
성동05
성동08
성동06
성동02
성동02
성동02
성동02
성동02
성동02
성동08
성동08
성동12
성동12
성동12
성동12
성동12
성동12
성동12
성동12
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동02
성동03-1
성동03-1
성동03-1
성동03-1
성동03-1
성동03-1
성동02
성동02
성동02
성동02
성동02
성동12
성동03-1
성동08
성동03-2
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동13
성동12
성동12
성동02
성동02
성동12
성동09
성동03-1
성동03-2
성동03-2
성동03-2
성동03-2
성동14
성동14
성동14
성동14
성동14
성동14
성동14
성동14
성동14
성동14
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
성동03-2
145
2112
2015
1227

In [16]:
s=0
cnt=0
bus_avg = []
a = df['버스 노선 리스트2']
for i in a:
    s=0
    cnt=0
    for j in i: # j는 버스 번호
        if j in dic.keys():
            s += dic[j]
            cnt=cnt+1
    bus_avg.append(format(s/cnt, ".2f")) # 소수 둘째자리까지 표현
    print(s)

82
125
140
64
134
134
50
67
41
54
40
92
92
68
27
70
20
20
20
68
68
68
68
20
20
20
20
33
26
92
92
81
91
98
87
34
98
98
52
52
91
52
52
33
26
33
26
26
33
33
33
33
78
78
17
17
78
78
52
52
68
68
55
10
10
10
10
10
37
37
49
49
49
49
49
49
43
43
43
43
61
61
13
13
52
52
40
40
104
80
39
39
39
39
39
39
39
39
49
49
49
49
10
10
10
10
39
31
71
40
40
40
40
39
39
39
31
9
9
39
46
13
13
13
13
13
13
13
13
13
61
61
61
61
56
13
26
26
26
26
26
13
40
35
40
40
35
35
13
13
13
29
7
7
20
20
40
39
20
62
10
24
31
10
10
34
10
10
26
49
10
10
17
10
40
10
33
32
13
10
13
13
8
8
23
20
10
27
23
10
55
7
8
23
7
10
19
7
8
10
33
7
33
9
8
8
10
7
24
9
8
10
7
9
7
8
20
10
24
9
7
8
20
10
20
7
24
9
7
10
7
9
20
10
23
20
7
9
8
20
23
7
10
9
8
20
19
9
8
19
10
9
8
10
33
10
10
10
7
20
17
8
10
7
20
10
21
8
7
20
10
7
8
7
20
7
8
20
7
7
7
24
9
7
24
9
7
9
7
34
9
7
19
9
29
10
9
7
10
9
10
9
10
9
10
10
10
43
20
8
20
20
8
8
20
20
40
20
10
30
10
20
9
9
9
9
9
9
10
10
12
12
12
12
12
12
12
12
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
10
10
10
10
10
10
9
9
9
9
9
12
10
10
14
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
12
12
9
9
20
10
14
14
14
14
12
12
12
12
12
12
12
12
12
12
14
14
14
14
14
14
14
14
14
14
14
14
14
14
45

In [17]:
# dic['9403']

In [18]:
bus_avg

['13.67',
 '13.89',
 '14.00',
 '12.80',
 '12.18',
 '12.18',
 '12.50',
 '9.57',
 '10.25',
 '10.80',
 '13.33',
 '13.14',
 '13.14',
 '9.71',
 '9.00',
 '11.67',
 '10.00',
 '10.00',
 '10.00',
 '9.71',
 '9.71',
 '9.71',
 '9.71',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '11.00',
 '13.00',
 '13.14',
 '13.14',
 '10.12',
 '10.11',
 '14.00',
 '14.50',
 '11.33',
 '14.00',
 '14.00',
 '10.40',
 '10.40',
 '10.11',
 '10.40',
 '10.40',
 '11.00',
 '13.00',
 '11.00',
 '13.00',
 '13.00',
 '11.00',
 '11.00',
 '11.00',
 '11.00',
 '11.14',
 '11.14',
 '8.50',
 '8.50',
 '11.14',
 '11.14',
 '10.40',
 '10.40',
 '11.33',
 '11.33',
 '11.00',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '9.25',
 '9.25',
 '12.25',
 '12.25',
 '12.25',
 '12.25',
 '12.25',
 '12.25',
 '10.75',
 '10.75',
 '10.75',
 '10.75',
 '15.25',
 '15.25',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.33',
 '13.33',
 '13.00',
 '13.33',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '12.25',
 '12.25',
 '12.25',
 '12.25',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '9.75',
 '10.33',
 '14.20',
 '13.33',
 '13.33',
 '13.33',
 '13.33',
 '13.00',
 '13.00',
 '13.00',
 '10.33',
 '9.00',
 '9.00',
 '9.75',
 '9.20',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '15.25',
 '15.25',
 '15.25',
 '15.25',
 '14.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.00',
 '13.33',
 '17.50',
 '13.33',
 '13.33',
 '17.50',
 '17.50',
 '13.00',
 '13.00',
 '13.00',
 '14.50',
 '7.00',
 '7.00',
 '10.00',
 '10.00',
 '13.33',
 '13.00',
 '10.00',
 '10.33',
 '10.00',
 '12.00',
 '10.33',
 '10.00',
 '10.00',
 '11.33',
 '10.00',
 '10.00',
 '13.00',
 '12.25',
 '10.00',
 '10.00',
 '8.50',
 '10.00',
 '13.33',
 '10.00',
 '11.00',
 '10.67',
 '13.00',
 '10.00',
 '13.00',
 '13.00',
 '8.00',
 '8.00',
 '23.00',
 '20.00',
 '10.00',
 '9.00',
 '23.00',
 '10.00',
 '11.00',
 '7.00',
 '8.00',
 '23.00',
 '7.00',
 '10.00',
 '9.50',
 '7.00',
 '8.00',
 '10.00',
 '16.50',
 '7.00',
 '11.00',
 '9.00',
 '8.00',
 '8.00',
 '10.00',
 '7.00',
 '12.00',
 '9.00',
 '8.00',
 '10.00',
 '7.00',
 '9.00',
 '7.00',
 '8.00',
 '10.00',
 '10.00',
 '12.00',
 '9.00',
 '7.00',
 '8.00',
 '10.00',
 '10.00',
 '20.00',
 '7.00',
 '12.00',
 '9.00',
 '7.00',
 '10.00',
 '7.00',
 '9.00',
 '10.00',
 '10.00',
 '23.00',
 '20.00',
 '7.00',
 '9.00',
 '8.00',
 '10.00',
 '23.00',
 '7.00',
 '10.00',
 '9.00',
 '8.00',
 '10.00',
 '9.50',
 '9.00',
 '8.00',
 '9.50',
 '10.00',
 '9.00',
 '8.00',
 '10.00',
 '11.00',
 '10.00',
 '10.00',
 '10.00',
 '7.00',
 '10.00',
 '8.50',
 '8.00',
 '10.00',
 '7.00',
 '10.00',
 '10.00',
 '10.50',
 '8.00',
 '7.00',
 '10.00',
 '10.00',
 '7.00',
 '8.00',
 '7.00',
 '10.00',
 '7.00',
 '8.00',
 '10.00',
 '7.00',
 '7.00',
 '7.00',
 '12.00',
 '9.00',
 '7.00',
 '12.00',
 '9.00',
 '7.00',
 '9.00',
 '7.00',
 '11.33',
 '9.00',
 '7.00',
 '9.50',
 '9.00',
 '14.50',
 '10.00',
 '9.00',
 '7.00',
 '10.00',
 '9.00',
 '10.00',
 '9.00',
 '10.00',
 '9.00',
 '10.00',
 '10.00',
 '10.00',
 '10.75',
 '20.00',
 '8.00',
 '20.00',
 '20.00',
 '8.00',
 '8.00',
 '20.00',
 '20.00',
 '13.33',
 '20.00',
 '10.00',
 '15.00',
 '10.00',
 '20.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '10.00',
 '10.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '10.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '9.00',
 '12.00',
 '10.00',
 '10.00',
 '14.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '22.00',
 '12.00',
 '12.00',
 '9.00',
 '9.00',
 '10.00',
 '10.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '12.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '14.00',
 '11.25']

In [19]:
df['평균 배차 간격'] = bus_avg
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 노선 리스트,버스 수,버스 노선 리스트2,평균 배차 간격
0,103000001,4001,답십리역사거리,37.565426,127.054368,"9403, 370, 303, N30, 721, 130",6,"[9403, 370, 303, N30, 721, 130]",13.67
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,"9403, 3216, 2221, 370, 3220, 303, N30, 721, 130",9,"[9403, 3216, 2221, 370, 3220, 303, N30, 721, 130]",13.89
2,103000003,4003,장한평역,37.561131,127.066098,"9403, 2416, 3216, 2221, 370, 3220, 303, N30, 7...",10,"[9403, 2416, 3216, 2221, 370, 3220, 303, N30, ...",14.00
3,103000004,4101,상왕십리역,37.564279,127.029260,"2012, N62, 2014, 2015, 463",5,"[2012, N62, 2014, 2015, 463]",12.80
4,103000005,4102,상왕십리역,37.564609,127.028642,"302, 2013, 2012, N62, 2014, 463, 147, 6211, 20...",11,"[302, 2013, 2012, N62, 2014, 463, 147, 6211, 2...",12.18
...,...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,성동03-2,1,[성동03-2],14.00
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,성동03-2,1,[성동03-2],14.00
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,성동03-2,1,[성동03-2],14.00
430,103900283,4914,한양대학교정문,37.557771,127.042058,성동03-2,1,[성동03-2],14.00
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,"145, 2112, 2015, 1227",4,"[145, 2112, 2015, 1227]",11.25

In [20]:
# 최대 배차 구하기
max=0
bus_max = []
a = df['버스 노선 리스트2']
for i in a:
    max=0
    for j in i: # j는 버스 번호
        if j in dic.keys():
            if dic[j] > max:
                max = dic[j]
    bus_max.append(max)
    print(max)

40
40
40
24
24
24
15
12
14
14
15
24
24
13
10
15
13
13
13
13
13
13
13
13
13
13
13
13
13
24
24
13
13
24
24
13
24
24
13
13
13
13
13
15
15
15
15
15
15
15
15
15
15
15
9
9
15
15
13
13
15
15
15
10
10
10
10
10
11
11
13
13
13
13
13
13
13
13
13
13
22
22
13
13
24
24
15
15
25
25
13
13
13
13
13
13
13
13
13
13
13
13
10
10
10
10
14
14
25
15
15
15
15
17
17
17
14
9
9
11
11
13
13
13
13
13
13
13
13
13
24
24
24
24
24
13
13
13
13
13
13
13
15
24
15
15
24
24
13
13
13
22
7
7
13
13
15
15
13
13
10
14
14
10
10
14
10
10
15
13
10
10
10
10
15
10
13
13
13
10
13
13
8
8
23
20
10
12
23
10
14
7
8
23
7
10
10
7
8
10
23
7
14
9
8
8
10
7
14
9
8
10
7
9
7
8
12
10
14
9
7
8
12
10
20
7
14
9
7
10
7
9
12
10
23
20
7
9
8
12
23
7
10
9
8
12
10
9
8
10
10
9
8
10
14
10
10
10
7
10
10
8
10
7
10
10
14
8
7
10
10
7
8
7
10
7
8
10
7
7
7
14
9
7
14
9
7
9
7
14
9
7
10
9
22
10
9
7
10
9
10
9
10
9
10
10
10
14
20
8
20
20
8
8
20
20
23
20
10
23
10
20
9
9
9
9
9
9
10
10
12
12
12
12
12
12
12
12
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
10
10
10
10
10
10
9
9
9
9
9
12
10
10
14
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
12
12
9
9
12
10
14
14
14
14
12
12
12
12
12
12
12
12
12
12
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14

In [21]:
df['최대 배차 간격'] = bus_max
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 노선 리스트,버스 수,버스 노선 리스트2,평균 배차 간격,최대 배차 간격
0,103000001,4001,답십리역사거리,37.565426,127.054368,"9403, 370, 303, N30, 721, 130",6,"[9403, 370, 303, N30, 721, 130]",13.67,40
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,"9403, 3216, 2221, 370, 3220, 303, N30, 721, 130",9,"[9403, 3216, 2221, 370, 3220, 303, N30, 721, 130]",13.89,40
2,103000003,4003,장한평역,37.561131,127.066098,"9403, 2416, 3216, 2221, 370, 3220, 303, N30, 7...",10,"[9403, 2416, 3216, 2221, 370, 3220, 303, N30, ...",14.00,40
3,103000004,4101,상왕십리역,37.564279,127.029260,"2012, N62, 2014, 2015, 463",5,"[2012, N62, 2014, 2015, 463]",12.80,24
4,103000005,4102,상왕십리역,37.564609,127.028642,"302, 2013, 2012, N62, 2014, 463, 147, 6211, 20...",11,"[302, 2013, 2012, N62, 2014, 463, 147, 6211, 2...",12.18,24
...,...,...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,성동03-2,1,[성동03-2],14.00,14
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,성동03-2,1,[성동03-2],14.00,14
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,성동03-2,1,[성동03-2],14.00,14
430,103900283,4914,한양대학교정문,37.557771,127.042058,성동03-2,1,[성동03-2],14.00,14
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,"145, 2112, 2015, 1227",4,"[145, 2112, 2015, 1227]",11.25,14

In [22]:
df = df.drop(['버스 노선 리스트'],axis=1)
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 수,버스 노선 리스트2,평균 배차 간격,최대 배차 간격
0,103000001,4001,답십리역사거리,37.565426,127.054368,6,"[9403, 370, 303, N30, 721, 130]",13.67,40
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,9,"[9403, 3216, 2221, 370, 3220, 303, N30, 721, 130]",13.89,40
2,103000003,4003,장한평역,37.561131,127.066098,10,"[9403, 2416, 3216, 2221, 370, 3220, 303, N30, ...",14.00,40
3,103000004,4101,상왕십리역,37.564279,127.029260,5,"[2012, N62, 2014, 2015, 463]",12.80,24
4,103000005,4102,상왕십리역,37.564609,127.028642,11,"[302, 2013, 2012, N62, 2014, 463, 147, 6211, 2...",12.18,24
...,...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,1,[성동03-2],14.00,14
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,1,[성동03-2],14.00,14
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,1,[성동03-2],14.00,14
430,103900283,4914,한양대학교정문,37.557771,127.042058,1,[성동03-2],14.00,14
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,4,"[145, 2112, 2015, 1227]",11.25,14

In [23]:
df.rename(columns = {'버스 노선 리스트2':'버스 노선 리스트'}, inplace=True)

In [24]:
df

,NODE_ID,ARS-ID,정류소명,위도,경도,버스 수,버스 노선 리스트,평균 배차 간격,최대 배차 간격
0,103000001,4001,답십리역사거리,37.565426,127.054368,6,"[9403, 370, 303, N30, 721, 130]",13.67,40
1,103000002,4002,청년회의소.서울새활용플라자,37.561952,127.060479,9,"[9403, 3216, 2221, 370, 3220, 303, N30, 721, 130]",13.89,40
2,103000003,4003,장한평역,37.561131,127.066098,10,"[9403, 2416, 3216, 2221, 370, 3220, 303, N30, ...",14.00,40
3,103000004,4101,상왕십리역,37.564279,127.029260,5,"[2012, N62, 2014, 2015, 463]",12.80,24
4,103000005,4102,상왕십리역,37.564609,127.028642,11,"[302, 2013, 2012, N62, 2014, 463, 147, 6211, 2...",12.18,24
...,...,...,...,...,...,...,...,...,...
427,103900293,4911,한양대학교정문,37.557954,127.041932,1,[성동03-2],14.00,14
428,103900284,4912,한양대학교제2의학관,37.558815,127.041924,1,[성동03-2],14.00,14
429,103900292,4913,한양대학교동문회관,37.558833,127.041823,1,[성동03-2],14.00,14
430,103900283,4914,한양대학교정문,37.557771,127.042058,1,[성동03-2],14.00,14
431,103000508,6507,청계한신휴플러스,37.571710,127.044830,4,"[145, 2112, 2015, 1227]",11.25,14

In [25]:
df.to_csv('../data/전처리데이터/성동구 정류장명 및 위치와 버스.csv', encoding = 'cp949', index=None)