In [2]:
import pandas as pd
import numpy as np

## 생활인구

In [3]:
population_df = pd.read_csv('../data/성동구_버스정류장_인구.csv', encoding='cp949')
df = pd.read_csv('../data/전처리데이터/성동구 버스 진짜 최종.csv', encoding='cp949')
df = df[['도로명', '도로폭', '도로폭_숫자']]
df2 = pd.read_csv('../data/전처리데이터/성동구 쉼터여부_버스 승차수_버스수_배차간격_지하철역최단거리.csv', encoding='cp949')
df2.drop(['Unnamed: 0'], axis = 1, inplace = True)
population_df.head()

,NODE_ID,ARS-ID,행정동,법정동,정류소명,좌표X,좌표Y,인구
0,103000001,4001,용답동,용답동,답십리역사거리,127.054368,37.565426,11475
1,103000002,4002,용답동,용답동,청년회의소.서울새활용플라자,127.060479,37.561952,11475
2,103000003,4003,용답동,용답동,장한평역,127.066098,37.561131,11475
3,103000004,4101,왕십리2동,하왕십리동,상왕십리역,127.029260,37.564279,16320
4,103000005,4102,왕십리2동,하왕십리동,상왕십리역,127.028642,37.564609,16320

In [4]:
sungdong_df = pd.concat([df2, df], axis=1)
sungdong_df = pd.concat([sungdong_df, population_df['인구']], axis=1)
sungdong_df.head()

,ARS-ID,버스 총 승차수,쉼터여부,NODE_ID,정류소명,위도,경도,버스 수,버스 노선 리스트,평균 배차 간격,최대 배차 간격,가장 가까운 지하철역,지하철역 최단거리(m),도로명,도로폭,도로폭_숫자,인구
0,4001,39270,0,103000001,답십리역사거리,37.565426,127.054368,6,"['9403', '370', '303', 'N30', '721', '130']",13.67,40,답십리,217.156,천호대로,폭8-10m,3,11475
1,4002,37286,0,103000002,청년회의소.서울새활용플라자,37.561952,127.060479,9,"['9403', '3216', '2221', '370', '3220', '303',...",13.89,40,장한평,367.819,천호대로,폭8-10m,3,11475
2,4003,61371,0,103000003,장한평역,37.561131,127.066098,10,"['9403', '2416', '3216', '2221', '370', '3220'...",14.00,40,장한평,136.266,천호대로,폭8-10m,3,11475
3,4101,17969,1,103000004,상왕십리역,37.564279,127.029260,5,"['2012', 'N62', '2014', '2015', '463']",12.80,24,상왕십리,42.408,왕십리로,폭12-15m,5,16320
4,4102,35007,1,103000005,상왕십리역,37.564609,127.028642,11,"['302', '2013', '2012', 'N62', '2014', '463', ...",12.18,24,상왕십리,23.403,왕십리로,폭12-15m,5,16320

In [5]:
sungdong_df.to_csv('../data/전처리데이터/성동구 최종 데이터_수정.csv', encoding='cp949')