In [1]:
import pandas as pd
df = pd.read_csv("../data/2022년_버스노선별_정류장별_시간대별_승하차_인원_정보(06월).csv", encoding='cp949')
df1 = pd.read_csv("../data/전처리데이터/성동구 버스 결합.csv", encoding='cp949')

C:\Users\user\AppData\Local\Temp\ipykernel_13464\1548314478.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/2022년_버스노선별_정류장별_시간대별_승하차_인원_정보(06월).csv", encoding='cp949')

In [2]:
df = df.rename(columns={'버스정류장ARS번호':'ARS-ID'}) # df column명 일치시키기
df2 = pd.merge(df,df1) #성동구에 해당하는 ARS-ID만 결합
df2.head

<bound method NDFrame.head of      ?"사용년월"  노선번호                         노선명  표준버스정류장ID ARS-ID        역명  \
0     202206   130                130번(우이동~길동)  103000001   4001   답십리역사거리
1     202206   303                303번(성남~신설동)  103000001   4001   답십리역사거리
2     202206   N30        N30(강동공영차고지~서울역환승센터)  103000001   4001   답십리역사거리
3     202206   370          370번(강동공영차고지~충정로역)  103000001   4001   답십리역사거리
4     202206  9403           9403번(성남분당~을지로5가)  103000001   4001   답십리역사거리
..       ...   ...                         ...        ...    ...       ...
989   202206  성동10  성동10(경동초등학교~송정동서울숲아이파크아파트)  103900296   4526   성수이비즈센터
990   202206  성동10  성동10(경동초등학교~송정동서울숲아이파크아파트)  103900297   4533   경수중학교입구
991   202206  성동10  성동10(경동초등학교~송정동서울숲아이파크아파트)  103900298   4540   성수역2번출구
992   202206  성동10  성동10(경동초등학교~송정동서울숲아이파크아파트)  103900299   4547  경동초등학교입구
993   202206  성동10  성동10(경동초등학교~송정동서울숲아이파크아파트)  103900299   4547  경동초등학교입구

     00시승차총승객수  00시하차총승객수  1시승차총승객수  1시하차총승객수  ...  23시승차총승객수  23시하차총승객수  \
0            0          0         0         0  ...        239        260
1           60         21         0         0  ...        302        125
2           15         58        24        62  ...          0          0
3          336        581       124       155  ...        297        533
4           54         41       102        66  ...         40          8
..         ...        ...       ...       ...  ...        ...        ...
989          0          0         0         0  ...         13          1
990          0          0         0         0  ...          4         23
991          0          0         0         0  ...          9         63
992          0          0         0         0  ...         81          9
993          0          0         0         0  ...          2          4

         등록일자  Unnamed: 0    NODE_ID      정류소명         위도          경도  \
0    20220703           0  103000001   답십리역사거리  37.565426  127.054368
1    20220703           0  103000001   답십리역사거리  37.565426  127.054368
2    20220703           0  103000001   답십리역사거리  37.565426  127.054368
3    20220703           0  103000001   답십리역사거리  37.565426  127.054368
4    20220703           0  103000001   답십리역사거리  37.565426  127.054368
..        ...         ...        ...       ...        ...         ...
989  20220703         204  103900296   성수이비즈센터  37.546488  127.063232
990  20220703         210  103900297   경수중학교입구  37.543541  127.060377
991  20220703         215  103900298   성수역2번출구  37.544337  127.057310
992  20220703         221  103900299  경동초등학교입구  37.545992  127.050882
993  20220703         221  103900299  경동초등학교입구  37.545992  127.050882

                                       버스 노선 리스트  버스 수
0    ['9403', '370', '303', 'N30', '721', '130']     6
1    ['9403', '370', '303', 'N30', '721', '130']     6
2    ['9403', '370', '303', 'N30', '721', '130']     6
3    ['9403', '370', '303', 'N30', '721', '130']     6
4    ['9403', '370', '303', 'N30', '721', '130']     6
..                                           ...   ...
989                                     ['성동10']     1
990                                     ['성동10']     1
991                                     ['성동10']     1
992                                     ['성동10']     1
993                                     ['성동10']     1

[994 rows x 62 columns]>

In [3]:
df2.to_csv("../data/전처리데이터/성동구 승차인원(성동구만 merge).csv", encoding='cp949', index=False)

In [4]:
df = pd.read_csv("../data/전처리데이터/성동구 승차인원(성동구만 merge).csv", encoding='cp949')

In [5]:
df.shape

(994, 62)

In [6]:
# 버스 승차인원 0~23시 합치기
df['버스 총 승차수'] = 0 
for i in df.index:
    for j in range(6,53,2):
        df['버스 총 승차수'][i] += df.iloc[i,j]
df['버스 총 승차수']

C:\Users\user\AppData\Local\Temp\ipykernel_13464\1354688883.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['버스 총 승차수'][i] += df.iloc[i,j]

0       9910
1      10233
2        427
3       9024
4        990
       ...
989     2171
990      172
991      648
992     3058
993       86
Name: 버스 총 승차수, Length: 994, dtype: int64

In [7]:
df= df[['노선명','ARS-ID','역명','버스 총 승차수', '버스 수']] # 보기 좋게 필요한 열만 추출
df.head()

                    노선명  ARS-ID       역명  버스 총 승차수  버스 수
0          130번(우이동~길동)    4001  답십리역사거리      9910     6
1          303번(성남~신설동)    4001  답십리역사거리     10233     6
2  N30(강동공영차고지~서울역환승센터)    4001  답십리역사거리       427     6
3    370번(강동공영차고지~충정로역)    4001  답십리역사거리      9024     6
4     9403번(성남분당~을지로5가)    4001  답십리역사거리       990     6

In [8]:
df1 = df.groupby(['ARS-ID']).sum()['버스 총 승차수']
df1

ARS-ID
4001    39270
4002    37286
4003    61371
4101    17969
4102    35007
        ...
4911      454
4912      754
4913      264
4914     2972
6507     7468
Name: 버스 총 승차수, Length: 432, dtype: int64

In [9]:
df1.to_csv("../data/전처리데이터/성동구 승차인원_only.csv", encoding='cp949')

In [10]:
# 버스 정류장 별 쉼터 여부 표시
df = pd.read_csv("../data/서울특별시 성동구_스마트쉼터현황_20220609.csv", encoding='cp949')
df.head()

          설치일     행정동             버스정류소명   아이디  크기
0  2020-07-31    행당1동        성동구청(도선사거리)  4111  중형
1  2020-07-31    행당2동       응봉사거리(무학여고앞)  4140  중형
2  2020-07-31  성수2가1동  성원중성수동이마트앞(성수공고앞)  4198  중형
3  2020-07-31  왕십리도선동  상왕십리역(왕십리센트라스아파트)  4102  중형
4  2020-07-31     옥수동         금호역(현대아파트)  4156  중형

In [11]:
df['아이디'].to_list()
# list_bus = list(df['아이디'])

[4111,
 4140,
 4198,
 4102,
 4156,
 4162,
 4213,
 4138,
 4146,
 4130,
 4302,
 4132,
 4280,
 4101,
 4119,
 4120,
 4218,
 4177,
 4238,
 4207,
 4215,
 4279,
 4103,
 4110,
 4142,
 4185,
 4180,
 4500,
 4574,
 4117,
 4118,
 4595,
 4600,
 4127,
 4560,
 4160,
 4155,
 4764,
 4159,
 4178,
 4237,
 4239,
 4187,
 4257,
 4211,
 4216,
 4217]

In [12]:
df2 = pd.read_csv("../data/전처리데이터/성동구 승차인원_only.csv", encoding='cp949')
df2.head()

   ARS-ID  버스 총 승차수
0    4001     39270
1    4002     37286
2    4003     61371
3    4101     17969
4    4102     35007

In [13]:
list = []
for i in df2.index:
    if df2.iloc[i]['ARS-ID'] in df['아이디'].to_list():
        list.append(1)
    else:
        list.append(0)
print(list)

[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [14]:
df2['쉼터여부'] = list
df2.head

<bound method NDFrame.head of      ARS-ID  버스 총 승차수  쉼터여부
0      4001     39270     0
1      4002     37286     0
2      4003     61371     0
3      4101     17969     1
4      4102     35007     1
..      ...       ...   ...
427    4911       454     0
428    4912       754     0
429    4913       264     0
430    4914      2972     0
431    6507      7468     0

[432 rows x 3 columns]>

In [15]:
df2.to_csv("../data/전처리데이터/성동구 승차인원_only.csv", encoding='cp949', index = False)

In [16]:
#병합
df = pd.read_csv("../data/전처리데이터/성동구 승차인원_only.csv", encoding='cp949')
df1 = pd.read_csv("../data/전처리데이터/성동구 정류장명 및 위치와 버스.csv", encoding='cp949')

In [17]:
df2 = pd.merge(df,df1)
df2.head()

,ARS-ID,버스 총 승차수,쉼터여부,NODE_ID,정류소명,위도,경도,버스 수,버스 노선 리스트,평균 배차 간격,최대 배차 간격
0,4001,39270,0,103000001,답십리역사거리,37.565426,127.054368,6,"['9403', '370', '303', 'N30', '721', '130']",13.67,40
1,4002,37286,0,103000002,청년회의소.서울새활용플라자,37.561952,127.060479,9,"['9403', '3216', '2221', '370', '3220', '303',...",13.89,40
2,4003,61371,0,103000003,장한평역,37.561131,127.066098,10,"['9403', '2416', '3216', '2221', '370', '3220'...",14.00,40
3,4101,17969,1,103000004,상왕십리역,37.564279,127.029260,5,"['2012', 'N62', '2014', '2015', '463']",12.80,24
4,4102,35007,1,103000005,상왕십리역,37.564609,127.028642,11,"['302', '2013', '2012', 'N62', '2014', '463', ...",12.18,24

In [19]:
df2.to_csv("../data/전처리데이터/성동구 쉼터여부_버스 승차수_버스수_배차간격.csv", encoding='cp949')