In [125]:
import requests
import pprint
import json

url = 'http://ws.bus.go.kr/api/rest/busRouteInfo/getBusRouteList'
params ={'serviceKey' : 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'strSrch' : '130', 'resultType':'json'}

response = requests.get(url, params=params)
contents = response.text
print(contents)
#pp = pprint.PrettyPrinter(indent=4)
#print(pp.pprint(contents))

#문자열을 json으로 변경
json_ob = json.loads(contents)
print(json_ob)
print(type(json_ob)) #json타입 확인

{"comMsgHeader":{"errMsg":null,"responseMsgID":null,"responseTime":null,"requestMsgID":null,"successYN":null,"returnCode":null},"msgHeader":{"headerMsg":"정상적으로 처리되었습니다.","headerCd":"0","itemCount":0},"msgBody":{"itemList":[{"busRouteId":"100100018","busRouteNm":"130","busRouteAbrv":"130","length":"48.7","routeType":"3","stStationNm":"우이동","edStationNm":"길동","term":"7","lastBusYn":"0","lastBusTm":"20220803225000","firstBusTm":"20220803042000","lastLowTm":"20200629223800","firstLowTm":"20190118000000","corpNm":"삼양교통  02-993-0162"},{"busRouteId":"100100146","busRouteNm":"1130","busRouteAbrv":"1130","length":"7.9","routeType":"4","stStationNm":"청백아파트1단지","edStationNm":"석계역","term":"9","lastBusYn":" ","lastBusTm":"20220804001000","firstBusTm":"20220803050000","lastLowTm":"              ","firstLowTm":"              ","corpNm":"삼화상운  02-936-6000"},{"busRouteId":"165000149","busRouteNm":"1300인천","busRouteAbrv":"1300","length":"0","routeType":"7","stStationNm":"e편한세상 정문","edStationNm":"서울역","term":"60","lastBusYn":" ","lastBusTm":"20220803234000","firstBusTm":"20220803050000","lastLowTm":"              ","firstLowTm":"              ","corpNm":"인천"},{"busRouteId":"165000150","busRouteNm":"1301인천","busRouteAbrv":"1301","length":"0","routeType":"7","stStationNm":"송도공영차고지","edStationNm":"서울역","term":"60","lastBusYn":" ","lastBusTm":"20220803230000","firstBusTm":"20220803050000","lastLowTm":"              ","firstLowTm":"              ","corpNm":"인천"},{"busRouteId":"165000421","busRouteNm":"1302인천","busRouteAbrv":"1302","length":"0","routeType":"7","stStationNm":"극지연구소","edStationNm":"서울역","term":"60","lastBusYn":" ","lastBusTm":"20220803230000","firstBusTm":"20220803050000","lastLowTm":"              ","firstLowTm":"              ","corpNm":"인천"},{"busRouteId":"241006190","busRouteNm":"1309고양","busRouteAbrv":"1309","length":"0","routeType":"8","stStationNm":"동서울터미널","edStationNm":"천안종합터미널","term":"20","lastBusYn":" ","lastBusTm":"20220803220000","firstBusTm":"20220803061500","lastLowTm":"              ","firstLowTm":"              ","corpNm":"경기"},{"busRouteId":"235000092","busRouteNm":"G1300양주","busRouteAbrv":"G1300","length":"0","routeType":"8","stStationNm":"덕정차고지(경유)","edStationNm":"잠실광역환승센터","term":"25","lastBusYn":" ","lastBusTm":"20220803223000","firstBusTm":"20220803050000","lastLowTm":"              ","firstLowTm":"              ","corpNm":"경기"},{"busRouteId":"234001577","busRouteNm":"M4130광주","busRouteAbrv":"M4130","length":"0","routeType":"8","stStationNm":"호수자이파밀리에.아이원","edStationNm":"서울역버스환승센터","term":"35","lastBusYn":" ","lastBusTm":"20220803230000","firstBusTm":"20220803050000","lastLowTm":"              ","firstLowTm":"              ","corpNm":"경기"}]}}
{'comMsgHeader': {'errMsg': None, 'responseMsgID': None, 'responseTime': None, 'requestMsgID': None, 'successYN': None, 'returnCode': None}, 'msgHeader': {'headerMsg': '정상적으로 처리되었습니다.', 'headerCd': '0', 'itemCount': 0}, 'msgBody': {'itemList': [{'busRouteId': '100100018', 'busRouteNm': '130', 'busRouteAbrv': '130', 'length': '48.7', 'routeType': '3', 'stStationNm': '우이동', 'edStationNm': '길동', 'term': '7', 'lastBusYn': '0', 'lastBusTm': '20220803225000', 'firstBusTm': '20220803042000', 'lastLowTm': '20200629223800', 'firstLowTm': '20190118000000', 'corpNm': '삼양교통  02-993-0162'}, {'busRouteId': '100100146', 'busRouteNm': '1130', 'busRouteAbrv': '1130', 'length': '7.9', 'routeType': '4', 'stStationNm': '청백아파트1단지', 'edStationNm': '석계역', 'term': '9', 'lastBusYn': ' ', 'lastBusTm': '20220804001000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '삼화상운  02-936-6000'}, {'busRouteId': '165000149', 'busRouteNm': '1300인천', 'busRouteAbrv': '1300', 'length': '0', 'routeType': '7', 'stStationNm': 'e편한세상 정문', 'edStationNm': '서울역', 'term': '60', 'lastBusYn': ' ', 'lastBusTm': '20220803234000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '인천'}, {'busRouteId': '165000150', 'busRouteNm': '1301인천', 'busRouteAbrv': '1301', 'length': '0', 'routeType': '7', 'stStationNm': '송도공영차고지', 'edStationNm': '서울역', 'term': '60', 'lastBusYn': ' ', 'lastBusTm': '20220803230000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '인천'}, {'busRouteId': '165000421', 'busRouteNm': '1302인천', 'busRouteAbrv': '1302', 'length': '0', 'routeType': '7', 'stStationNm': '극지연구소', 'edStationNm': '서울역', 'term': '60', 'lastBusYn': ' ', 'lastBusTm': '20220803230000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '인천'}, {'busRouteId': '241006190', 'busRouteNm': '1309고양', 'busRouteAbrv': '1309', 'length': '0', 'routeType': '8', 'stStationNm': '동서울터미널', 'edStationNm': '천안종합터미널', 'term': '20', 'lastBusYn': ' ', 'lastBusTm': '20220803220000', 'firstBusTm': '20220803061500', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '경기'}, {'busRouteId': '235000092', 'busRouteNm': 'G1300양주', 'busRouteAbrv': 'G1300', 'length': '0', 'routeType': '8', 'stStationNm': '덕정차고지(경유)', 'edStationNm': '잠실광역환승센터', 'term': '25', 'lastBusYn': ' ', 'lastBusTm': '20220803223000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '경기'}, {'busRouteId': '234001577', 'busRouteNm': 'M4130광주', 'busRouteAbrv': 'M4130', 'length': '0', 'routeType': '8', 'stStationNm': '호수자이파밀리에.아이원', 'edStationNm': '서울역버스환승센터', 'term': '35', 'lastBusYn': ' ', 'lastBusTm': '20220803230000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '경기'}]}}
<class 'dict'>

In [126]:
body = json_ob['msgBody']['itemList']
print(body)

[{'busRouteId': '100100018', 'busRouteNm': '130', 'busRouteAbrv': '130', 'length': '48.7', 'routeType': '3', 'stStationNm': '우이동', 'edStationNm': '길동', 'term': '7', 'lastBusYn': '0', 'lastBusTm': '20220803225000', 'firstBusTm': '20220803042000', 'lastLowTm': '20200629223800', 'firstLowTm': '20190118000000', 'corpNm': '삼양교통  02-993-0162'}, {'busRouteId': '100100146', 'busRouteNm': '1130', 'busRouteAbrv': '1130', 'length': '7.9', 'routeType': '4', 'stStationNm': '청백아파트1단지', 'edStationNm': '석계역', 'term': '9', 'lastBusYn': ' ', 'lastBusTm': '20220804001000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '삼화상운  02-936-6000'}, {'busRouteId': '165000149', 'busRouteNm': '1300인천', 'busRouteAbrv': '1300', 'length': '0', 'routeType': '7', 'stStationNm': 'e편한세상 정문', 'edStationNm': '서울역', 'term': '60', 'lastBusYn': ' ', 'lastBusTm': '20220803234000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '인천'}, {'busRouteId': '165000150', 'busRouteNm': '1301인천', 'busRouteAbrv': '1301', 'length': '0', 'routeType': '7', 'stStationNm': '송도공영차고지', 'edStationNm': '서울역', 'term': '60', 'lastBusYn': ' ', 'lastBusTm': '20220803230000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '인천'}, {'busRouteId': '165000421', 'busRouteNm': '1302인천', 'busRouteAbrv': '1302', 'length': '0', 'routeType': '7', 'stStationNm': '극지연구소', 'edStationNm': '서울역', 'term': '60', 'lastBusYn': ' ', 'lastBusTm': '20220803230000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '인천'}, {'busRouteId': '241006190', 'busRouteNm': '1309고양', 'busRouteAbrv': '1309', 'length': '0', 'routeType': '8', 'stStationNm': '동서울터미널', 'edStationNm': '천안종합터미널', 'term': '20', 'lastBusYn': ' ', 'lastBusTm': '20220803220000', 'firstBusTm': '20220803061500', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '경기'}, {'busRouteId': '235000092', 'busRouteNm': 'G1300양주', 'busRouteAbrv': 'G1300', 'length': '0', 'routeType': '8', 'stStationNm': '덕정차고지(경유)', 'edStationNm': '잠실광역환승센터', 'term': '25', 'lastBusYn': ' ', 'lastBusTm': '20220803223000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '경기'}, {'busRouteId': '234001577', 'busRouteNm': 'M4130광주', 'busRouteAbrv': 'M4130', 'length': '0', 'routeType': '8', 'stStationNm': '호수자이파밀리에.아이원', 'edStationNm': '서울역버스환승센터', 'term': '35', 'lastBusYn': ' ', 'lastBusTm': '20220803230000', 'firstBusTm': '20220803050000', 'lastLowTm': '              ', 'firstLowTm': '              ', 'corpNm': '경기'}]

In [127]:
# pandas import
import pandas as pd
from pandas.io.json import json_normalize
# Dataframe으로 만들기
dataframe = json_normalize(body)

print(dataframe)

  busRouteId busRouteNm busRouteAbrv length routeType   stStationNm  \
0  100100018        130          130   48.7         3           우이동
1  100100146       1130         1130    7.9         4      청백아파트1단지
2  165000149     1300인천         1300      0         7      e편한세상 정문
3  165000150     1301인천         1301      0         7       송도공영차고지
4  165000421     1302인천         1302      0         7         극지연구소
5  241006190     1309고양         1309      0         8        동서울터미널
6  235000092    G1300양주        G1300      0         8     덕정차고지(경유)
7  234001577    M4130광주        M4130      0         8  호수자이파밀리에.아이원

  edStationNm term lastBusYn       lastBusTm      firstBusTm       lastLowTm  \
0          길동    7         0  20220803225000  20220803042000  20200629223800
1         석계역    9            20220804001000  20220803050000
2         서울역   60            20220803234000  20220803050000
3         서울역   60            20220803230000  20220803050000
4         서울역   60            20220803230000  20220803050000
5     천안종합터미널   20            20220803220000  20220803061500
6    잠실광역환승센터   25            20220803223000  20220803050000
7   서울역버스환승센터   35            20220803230000  20220803050000

       firstLowTm             corpNm
0  20190118000000  삼양교통  02-993-0162
1                  삼화상운  02-936-6000
2                                 인천
3                                 인천
4                                 인천
5                                 경기
6                                 경기
7                                 경기

C:\Users\user\AppData\Local\Temp\ipykernel_11764\3637955121.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  dataframe = json_normalize(body)

In [131]:
dataframe[['busRouteNm','term']]

  busRouteNm term
0        130    7
1       1130    9
2     1300인천   60
3     1301인천   60
4     1302인천   60
5     1309고양   20
6    G1300양주   25
7    M4130광주   35

In [132]:
df = dataframe[['busRouteNm','term']].loc[0]
df

busRouteNm    130
term            7
Name: 0, dtype: object

In [133]:
df2 = pd.DataFrame({'busRouteNm':[0],
                             'term':[0]})
df2.append(df)

C:\Users\user\AppData\Local\Temp\ipykernel_11764\3278640683.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2.append(df)

  busRouteNm term
0          0    0
0        130    7

In [1]:
import requests
import pprint
import json
import pandas as pd
from pandas.io.json import json_normalize

url = 'http://ws.bus.go.kr/api/rest/busRouteInfo/getBusRouteList'
params ={'serviceKey' : 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType':'json'}

bus_num=[130,303,'N30',370,9403,721]
for bus in bus_num:
    params['strSrch'] = bus
    print(params)

{'serviceKey': 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType': 'json', 'strSrch': 130}
{'serviceKey': 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType': 'json', 'strSrch': 303}
{'serviceKey': 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType': 'json', 'strSrch': 'N30'}
{'serviceKey': 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType': 'json', 'strSrch': 370}
{'serviceKey': 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType': 'json', 'strSrch': 9403}
{'serviceKey': 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType': 'json', 'strSrch': 721}

In [101]:
bus_num='4211 성동03-1 성동08 성동02 241 성동10 성동07 성동14 성동03-2 성동01 성동05 성동06 145110B 148 421 141 2015 2222 성동13 성동12 성동02 성동09 성동12 성동03-2 성동14 1227 130 303 N30 370 9403 721 3216 3220 2221 2416 463 2014 2015 N62 302 6211 202 147 1017 2012 2013 421 241 N32 148 110A 145 141 2222 121 4211 2016 2233 7212 301 2224 2413 2412 242 3217 240 4212 146 N61 2112'
bus_list = bus_num.split(' ')

print(bus_list)

['4211', '성동03-1', '성동08', '성동02', '241', '성동10', '성동07', '성동14', '성동03-2', '성동01', '성동05', '성동06', '145110B', '148', '421', '141', '2015', '2222', '성동13', '성동12', '성동02', '성동09', '성동12', '성동03-2', '성동14', '1227', '130', '303', 'N30', '370', '9403', '721', '3216', '3220', '2221', '2416', '463', '2014', '2015', 'N62', '302', '6211', '202', '147', '1017', '2012', '2013', '421', '241', 'N32', '148', '110A', '145', '141', '2222', '121', '4211', '2016', '2233', '7212', '301', '2224', '2413', '2412', '242', '3217', '240', '4212', '146', 'N61', '2112']

In [120]:
len(bus_list)

71

In [131]:
set_bus_list = set(bus_list)

In [132]:
len(set_bus_list)

60

In [133]:
set_bus_list

{'1017',
 '110A',
 '121',
 '1227',
 '130',
 '141',
 '145',
 '145110B',
 '146',
 '147',
 '148',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '202',
 '2112',
 '2221',
 '2222',
 '2224',
 '2233',
 '240',
 '241',
 '2412',
 '2413',
 '2416',
 '242',
 '301',
 '302',
 '303',
 '3216',
 '3217',
 '3220',
 '370',
 '421',
 '4211',
 '4212',
 '463',
 '6211',
 '721',
 '7212',
 '9403',
 'N30',
 'N32',
 'N61',
 'N62',
 '성동01',
 '성동02',
 '성동03-1',
 '성동03-2',
 '성동05',
 '성동06',
 '성동07',
 '성동08',
 '성동09',
 '성동10',
 '성동12',
 '성동13',
 '성동14'}

In [136]:
import requests
import pprint
import json
import pandas as pd
from pandas.io.json import json_normalize

list=[]
url = 'http://ws.bus.go.kr/api/rest/busRouteInfo/getBusRouteList'
params ={'serviceKey' : 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType':'json'}

bus_num=[4211,'성동03-1','성동08','성동02',241,'성동10','성동07','성동14','성동03-2','성동01','성동05','성동06',145
         ,'110B',148,421,141,2015,2222,'성동13','성동12','성동02','성동09','성동12','성동03-2','성동14',1227,130,303,'N30',370
         ,9403,721,3216,3220,2221,2416,463,2014,2015,'N62',302,6211,202,147,1017,2012,2013,421,241,'N32',148,'110A',145,141,2222,121
         ,4211,2016,2233,7212,301,2224,2413,2412,242,3217,240,4212,146,'N61',2112]
for bus in bus_num:
    params['strSrch'] = bus
    
    response = requests.get(url, params=params)
    contents = response.text

    #문자열을 json으로 변경
    json_ob = json.loads(contents)
    body = json_ob['msgBody']['itemList'][0]['term']
    list.append(body)

In [137]:
list

['13',
 '10',
 '10',
 '9',
 '10',
 '8',
 '23',
 '12',
 '14',
 '7',
 '7',
 '20',
 '9',
 '8',
 '9',
 '10',
 '11',
 '8',
 '13',
 '22',
 '12',
 '9',
 '8',
 '12',
 '14',
 '12',
 '14',
 '7',
 '8',
 '40',
 '6',
 '13',
 '8',
 '13',
 '17',
 '13',
 '15',
 '10',
 '10',
 '8',
 '24',
 '15',
 '11',
 '8',
 '9',
 '14',
 '12',
 '13',
 '10',
 '10',
 '40',
 '9',
 '8',
 '9',
 '11',
 '13',
 '7',
 '13',
 '11',
 '15',
 '11',
 '8',
 '13',
 '13',
 '13',
 '14',
 '9',
 '11',
 '9',
 '8',
 '25',
 '14']

In [125]:
bus_num='4211 성동03-1 성동08 성동02 241 성동10 성동07 성동14 성동03-2 성동01 성동05 성동06 145110B 148 421 141 2015 2222 성동13 성동12 성동02 성동09 성동12 성동03-2 성동14 1227 130 303 N30 370 9403 721 3216 3220 2221 2416 463 2014 2015 N62 302 6211 202 147 1017 2012 2013 421 241 N32 148 110A 145 141 2222 121 4211 2016 2233 7212 301 2224 2413 2412 242 3217 240 4212 146 N61 2112'
bus_list = bus_num.split(' ')

print(bus_list)

['4211', '성동03-1', '성동08', '성동02', '241', '성동10', '성동07', '성동14', '성동03-2', '성동01', '성동05', '성동06', '145110B', '148', '421', '141', '2015', '2222', '성동13', '성동12', '성동02', '성동09', '성동12', '성동03-2', '성동14', '1227', '130', '303', 'N30', '370', '9403', '721', '3216', '3220', '2221', '2416', '463', '2014', '2015', 'N62', '302', '6211', '202', '147', '1017', '2012', '2013', '421', '241', 'N32', '148', '110A', '145', '141', '2222', '121', '4211', '2016', '2233', '7212', '301', '2224', '2413', '2412', '242', '3217', '240', '4212', '146', 'N61', '2112']

In [126]:
len(bus_list)

71

In [127]:
set_bus_list = set(bus_list)

In [128]:
len(set_bus_list)

60

In [139]:
a = bus_num
b = list
df = pd.DataFrame()
df['busNm'] = a
df['term'] = b

In [141]:
df['term'].dtype

dtype('O')

In [142]:
df["term"] = pd.to_numeric(df["term"])

In [143]:
df['term'].dtype

dtype('int64')

In [147]:
df.drop_duplicates(['busNm'], keep = 'first')
df_sorted = df.sort_values('term')

In [148]:
df_sorted

   busNm  term
30   370     6
9   성동01     7
27   130     7
56   121     7
10  성동05     7
..   ...   ...
6   성동07    23
40   N62    24
70   N61    25
50   N32    40
29   N30    40

[72 rows x 2 columns]

In [156]:
df.to_csv('term.csv', encoding = 'cp949', index=None)

In [113]:
bus_num='4211 성동03-1 성동08 성동02 241 성동10 성동07 성동14 성동03-2 성동01 성동05 성동06 145110B 148 421 141 2015 2222 성동13 성동12 성동02 성동09 성동12 성동03-2 성동14 1227 130 303 N30 370 9403 721 3216 3220 2221 2416 463 2014 2015 N62 302 6211 202 147 1017 2012 2013 421 241 N32 148 110A 145 141 2222 121 4211 2016 2233 7212 301 2224 2413 2412 242 3217 240 4212 146 N61 2112'
bus_list = bus_num.split(' ')

print(bus_list)

['4211', '성동03-1', '성동08', '성동02', '241', '성동10', '성동07', '성동14', '성동03-2', '성동01', '성동05', '성동06', '145110B', '148', '421', '141', '2015', '2222', '성동13', '성동12', '성동02', '성동09', '성동12', '성동03-2', '성동14', '1227', '130', '303', 'N30', '370', '9403', '721', '3216', '3220', '2221', '2416', '463', '2014', '2015', 'N62', '302', '6211', '202', '147', '1017', '2012', '2013', '421', '241', 'N32', '148', '110A', '145', '141', '2222', '121', '4211', '2016', '2233', '7212', '301', '2224', '2413', '2412', '242', '3217', '240', '4212', '146', 'N61', '2112']

In [99]:
bus_ = '121 130 141 145 146 147 148 202 240 241 242 301 302 303 370 421 463 721 N30 N32 N61 N62 1017 110A 110B 1227 2012 2013 2014 2015 2016 2112 2221 2222 2224 2233 2412 2413 2416 3216 3217 3220 4211 4212 6211 7212 9403 성동01 성동02 성동05 성동06 성동07 성동08 성동09 성동10 성동12 성동13 성동14 성동03-1 성동03-2'

In [68]:
#result = bus_.replace(" " , ",")

In [100]:
my_list = bus_.split(' ')

print(my_list)

['121', '130', '141', '145', '146', '147', '148', '202', '240', '241', '242', '301', '302', '303', '370', '421', '463', '721', 'N30', 'N32', 'N61', 'N62', '1017', '110A', '110B', '1227', '2012', '2013', '2014', '2015', '2016', '2112', '2221', '2222', '2224', '2233', '2412', '2413', '2416', '3216', '3217', '3220', '4211', '4212', '6211', '7212', '9403', '성동01', '성동02', '성동05', '성동06', '성동07', '성동08', '성동09', '성동10', '성동12', '성동13', '성동14', '성동03-1', '성동03-2']

In [78]:
set1 = set(my_list)
set1

{'1017',
 '110A',
 '110B',
 '121',
 '1227',
 '130',
 '141',
 '145',
 '146',
 '147',
 '148',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '202',
 '2112',
 '2221',
 '2222',
 '2224',
 '2233',
 '240',
 '241',
 '2412',
 '2413',
 '2416',
 '242',
 '301',
 '302',
 '303',
 '3216',
 '3217',
 '3220',
 '370',
 '421',
 '4211',
 '4212',
 '463',
 '6211',
 '721',
 '7212',
 '9403',
 'N30',
 'N32',
 'N61',
 'N62',
 '성동01',
 '성동02',
 '성동03-1',
 '성동03-2',
 '성동05',
 '성동06',
 '성동07',
 '성동08',
 '성동09',
 '성동10',
 '성동12',
 '성동13',
 '성동14'}

In [118]:
len(set1)

60

In [114]:
set2 = set(bus_list)
set2

{'1017',
 '110A',
 '121',
 '1227',
 '130',
 '141',
 '145',
 '145110B',
 '146',
 '147',
 '148',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '202',
 '2112',
 '2221',
 '2222',
 '2224',
 '2233',
 '240',
 '241',
 '2412',
 '2413',
 '2416',
 '242',
 '301',
 '302',
 '303',
 '3216',
 '3217',
 '3220',
 '370',
 '421',
 '4211',
 '4212',
 '463',
 '6211',
 '721',
 '7212',
 '9403',
 'N30',
 'N32',
 'N61',
 'N62',
 '성동01',
 '성동02',
 '성동03-1',
 '성동03-2',
 '성동05',
 '성동06',
 '성동07',
 '성동08',
 '성동09',
 '성동10',
 '성동12',
 '성동13',
 '성동14'}

In [119]:
len(set2)

60

In [117]:
print(set2.difference(set1))

{'145110B'}